@font-face {
  font-family: "TitanOne";
  src: url("/fonts/TitanOne-Regular.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "TitanOne", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

#__next {
  position: relative;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}
