@font-face {
  font-family: "Base";
  src: url("/fonts/CaveatBrush-Regular.ttf") format("truetype");
  font-weight: 500 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Base", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

#__next {
  position: relative;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}
